<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.huahong.tolerant.join.mapper.RoleMapper">

    <select id="getRoleById"  resultType="com.huahong.tolerant.join.domain.mybatis.Role">
       select * from role where id = #{id}
    </select>
</mapper>
